In [7]:
import sqlite3

In [ ]:
courscode=int(input("Enter Course Code"))
coursName=input("Enter Course Name")
creditHours=int(input("Enter CH"))
tid=int(input("Enter Teacher ID"))

In [10]:
conn = sqlite3.connect("SMSDB.db")
c = conn.cursor()
# Create the table if it doesn't exist
c.execute(f"SELECT * FROM Coursetb")
rows = c.fetchall()
# Close the connection
conn.close()

In [11]:
rows

[(1, 'Python', 3, 1)]

In [ ]:
INSERT INTO Coursetb(CC, Cname, CH, TID) VALUES (?, ?, ?, ?)", (courscode, coursName, creditHours, tid)

In [21]:
courscode=int(input("Enter Course Code"))
coursName=input("Enter Course Name")
creditHours=int(input("Enter CH"))
tid=int(input("Enter Teacher ID"))

conn = sqlite3.connect("SMSDB.db")
c = conn.cursor()
# Create the table if it doesn't exist
c.execute(f"INSERT INTO Coursetb(CC, Cname, CH, TID) VALUES (?, ?, ?, ?)", (courscode, coursName, creditHours, tid))
# Close the connection
conn.commit()
conn.close()

Enter Course Code 3
Enter Course Name mobile app
Enter CH 3
Enter Teacher ID 3

In [22]:
conn = sqlite3.connect("SMSDB.db")
c = conn.cursor()
# Create the table if it doesn't exist
c.execute(f"SELECT * FROM Coursetb")
rows = c.fetchall()
# Close the connection
conn.close()

In [23]:
rows

[(1, 'Python', 3, 1), (2, 'java', 3, 2), (3, 'mobile app', 3, 3)]

In [31]:
TDept=input("Enter teacher Department")
Tname=input("Enter Teacher Name")
Tsubject=input("Enter Subject")
Tclass=input("Enter Class")
Tsalary=int(input("Enter Teacher Salary"))

conn = sqlite3.connect("SMSDB.db")
c = conn.cursor()
# Create the table if it doesn't exist
c.execute(f"INSERT INTO Teachertb(TDept,Tname,Tsubject, Tclass, Tsalary) VALUES (?, ?,?, ?,?)", (TDept,Tname, Tsubject, Tclass, Tsalary))
# Close the connection
conn.commit()
conn.close()

Enter teacher Department Math
Enter Teacher Name Asif Memon
Enter Subject Calculus
Enter Class PhysicalEducation
Enter Teacher Salary 50000